<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCB3NZOIIQKenyPCoeIbXVBSyQ9txQ_g1k</string>
	<key>GCM_SENDER_ID</key>
	<string>769595256207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>works.delicious.shabbatclock</string>
	<key>PROJECT_ID</key>
	<string>shabbat-clock</string>
	<key>STORAGE_BUCKET</key>
	<string>shabbat-clock.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769595256207:ios:67cc0a875cd6ccde72effa</string>
</dict>
</plist>